<div class="row">
    <div class="col-lg-12 text-center">
        <div class="panel panel-default">
            <form  action="<?php echo $this->url(array("controller" => "users", "action" => "permission"), null, true); ?>" METHOD="post">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th><?php echo $this->translate("Routine") ?></th>
                                    <th class="text-center"><?php echo $this->translate("Group") ?></th>
                                    <th class="text-center"><?php echo $this->translate("User") ?></th>
                                    <th class="text-center"><?php echo $this->translate("Permission") ?></th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php 
                                $enabled = '<img src="/snep/images/on.png" align="center" width="22" height="22" title="Habilitado";">';
                                $disabled = '<img src="/snep/images/off.png" width="22" height="22" title="Desabilitado";">';
                                $c = 0;
                                if ($this->user == true) {
                                    $param = 'user';
                                } else {
                                    $param = 'group';
                                }

                                if ($this->modules):
                                    foreach ($this->modules as $item => $module):?>

                                    <tr>

                                    <td> <?php echo $module['name'] ?> </td>
                                        <?php if (isset($module['group'])) { ?>
                                            <td class="text-center"> <?php echo $enabled ?> </td>
                                        <?php } else { ?>
                                            <td class="text-center"> <?php echo $disabled ?> </td>
                                        <?php } ?>

                                        <?php if ($this->user == false) { ?>    
                                            <?php if (isset($module['group'])) { ?>
                                            <td class="text-center"> <?php echo $enabled ?> </td>
                                            <td class="text-center"> 
                                                <input name=<?php echo $module['id_permission'] ?> type="checkbox" value="yes" checked>
                                                &nbsp;<?php echo $this->translate('Allow') ?>
                                            </td>
                                        <?php } else { ?>
                                            <td class="text-center"> <?php echo $disabled ?> </td>
                                            <td class="text-center"> 
                                                <input name=<?php echo $module['id_permission'] ?> type="checkbox" value="yes" >
                                                &nbsp;<?php echo $this->translate('Allow') ?>
                                            </td>
                                        <?php } ?>
                                    <?php } else { ?>    


                                        <?php if (isset($module['user']) === true && $module['allow'] == true) { ?>
                                            <td class="text-center"> <?php echo $enabled ?> </td>
                                            <td class="text-center"> 
                                                <input name=<?php echo $module['id_permission'] ?> type="checkbox" value="yes" checked>
                                                &nbsp;<?php echo $this->translate('Allow') ?>
                                            </td>
                                        <?php } else if (isset($module['group']) == true && isset($module['user']) == false) { ?>
                                            <td class="text-center"> <?php echo $enabled ?> </td>  
                                            <td class="text-center"> 
                                                <input name=<?php echo $module['id_permission'] ?> type="checkbox" value="yes" checked>
                                                &nbsp;<?php echo $this->translate('Allow') ?>
                                            </td>
                                        <?php } else { ?>
                                            <td class="text-center"> <?php echo $disabled ?> </td>
                                            <td class="text-center"> 
                                                <input name=<?php echo $module['id_permission'] ?> type="checkbox" value="yes">
                                                &nbsp;<?php echo $this->translate('Allow') ?>
                                            </td>
                                            <?php
                                        }
                                    }
                                    ?>



                                    </tr>
                                <input type="hidden" name="user" value=<?php echo $this->id ?>>

                            <?php endforeach ?>
                        <?php endif ?>
                                

                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="snep-body-footer-buttons">
                    <button type="submit" class="btn btn-add" name="save" value="save"><?php echo $this->translate("Save");?></button>
                    &nbsp;&nbsp;&nbsp;
                    <a class="btn btn-outline btn-add" href="javascript:window.history.go(-1)" role="button"><?php echo $this->translate("Cancel")?></a>
                </div>

            </form>
        </div>
    </div> 
</div>    <!-- /.row