<?php

$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/footable/footable.core.css" );
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/footable/footable-demos.css" );
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/footable/bootstrap-glyphicons.css" );

?>

<script src="/snep/includes/javascript/footable/footable.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/footable.sort.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/footable.filter.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/footable.paginate.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/bootstrap-tab.js" type="text/javascript"></script>

<div class="row">

    <div class="tab-content">
        <div class="tab-pane active" id="demo">
            <?php if($this->key){ ?>
                <div class="snep-body-top-buttons">
                    <div class="snep-body-search">
                        <?php if($this->key){ 
                            echo ""; 
                            ?>
                            <a class='sn-dash-add' href="<?php echo $this->baseUrl ?>/default/index/index?dashboard_add=<?php echo $this->key ?>" title="<?php echo $this->translate('Add to dashboard');?>"></a>  
                        <?php } ?>
                    </div>
                </div>
            <?php } ?>
            
            <table class="table demo table-bordered" data-filter="#filter" data-page-size="<?php echo $this->lineNumber?>">

                <thead>
                    <tr>
                        <th><?php echo $this->translate('Name');?></th>
                        <th><?php echo $this->translate('Description');?></th>
                        <th class='text-center'><?php echo $this->translate('Actions');?></th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($this->infoAcoes as $value) { ?>
                    
                        <tr>
                            <td><?php echo $this->translate($value['name']) ?></td>
                            <td><?php echo $this->translate($value['description']) ?></td>
                            <td align="center">
                                <a class="btn btn-default btn-xs"  href='<?php echo $this->baseUrl(); ?>/index.php/action-configs/edit/id/<?php echo $value['id'] ?>' role="button"><?php echo $this->translate('Configure')?>  
                                </a>
                            </td>
                        </tr>
                   <?php } ?>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7">
                            <div class="paging">
                                <ul class="pagination"></ul>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
            <br>
        </div> <!-- demo -->
    </div> <!-- tab-content -->
</div> <!-- /.row -->


<script type="text/javascript">
    $(function () {
        $('table').footable().on('click', '.row', function(e) {
            e.preventDefault(); 
        });
    });
</script>


